.gallery {
    padding: 1em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: 50em repeat(100, 35em);

    background-color: var(--gallery-background);
}
/*
.gallery > :first-child {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 0.5em;
    
}
*/
.gallery img{

    width: 50%;
    height: 75%;
    object-fit: cover;
    
}

.gallery.one-column {
    grid-template-columns: repeat(1, 1fr);
}

.gallery.two-columns {
    grid-template-columns: repeat(2, 1fr);

}

.gallery.three-columns {
    grid-template-columns: repeat(3, 1fr);
}

.gallery .bordered {
    border: 1px solid gray;
    border-radius: 1em;

}
.hundinfosec {
    text-align: center;
}
.enhund{
    display: inline-flex;
}