.gallery {
    padding: 1em;
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: 50em repeat(100, 35em);

    background-color: var(--gallery-background);
}
/*
.gallery > :first-child {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 0.5em;
    
}
*/
.gallery img{

    width: 70%;
    height: 50%;
    object-fit: cover;
    
}

.gallery.one-column {
    grid-template-columns: repeat(1, 1fr);
}

.gallery.two-columns {
    grid-template-columns: repeat(2, 1fr);

}

.gallery.three-columns {
    grid-template-columns: repeat(3, 1fr);
}

.gallery .bordered {
    border: 1px solid gray;
    border-radius: 1em;

}
.hundinfosec {
    text-align: center;
    /*background-color: #272222;*/
    font-size: 12pt;
    color: #ebebeb;
}

@media (min-width: 500px) {
    .enhund{
        display: inline-block;
        margin-left: 0em;
    }
}
@media (min-width: 600px) {
    .enhund{
        display: inline-flex;
    }
    }


    .image-icon {
        width: 90%;
        float: left;
        padding-top: 6px;
        display: inline-flex;
        margin-left: 1em;
        background-color: #272222;
    }
    .pet_text {
        font-size: 12pt;
        color: #ebebeb;
        padding-left: 16px;
    }
    .image-icon img {
        width: 15px;
    }
   
    .readmorebuttons{
        width: 7em;
        float: none;
        background-color: #000;
        border-radius: 60px;
        height: 70px;
        font-size: 20pt;
        border: 0px;
        color: #fff;
        margin-top: 0.2em;
        margin-left: 0.8em;
    }
    